
/* tamanho da fonte */
.clFonteGeral { /* tamanho da fonte (letra) */
    -fx-font		: 13px "Arial";
	-fx-font-family: "Roboto", "Arial", sans-serif;
}

/* cl classe conversor - parte inferior */
/* 
.clPaneConversor { 
	 -fx-background-color: #28353D ;
	 
}*/

/* cor background ao chamar o programa */
.classePressedHover{
     -fx-background-color	: #ff6a5d; /* verde #ff6a5d */ /*azul escuro #1E73BE */
     -fx-text-fill			: #000000; 
     -fx-text-base-color	: #000000;
     -fx-font-weight		: bold;
}

/* ao passar o mouse 
 	muda cor do texto */
 	
.classePressedHover:pressed:hover { 
    -fx-scale-y				: 0.9;
    -fx-scale-x				: 0.9;
    -fx-text-base-color		: #ff6a5d; 
    
}

/* ao passar o mouse por cima do combobox ou botao
	muda a cor do background no combo box DD DMS UTM ao passa o mouse*/
.classePressedHover:hover { 
    -fx-background-color	: white;
    -fx-text-fill			: #ff6a5d; /*azul escuro = muda cor da letra do botao ao passar mouse */
    -fx-scale-y				: 1.1;
    -fx-text-base-color		: #ff6a5d;
    
    
}

/*combobox e cores no popup = ao passar o mouse */
.combo-box-popup .list-cell:filled:hover
{
    -fx-background-color: #ff9c8a;
   
}

/* colocar na  cor certa o selecionado ao abrir o popup */
.combo-box-popup .list-cell:selected 
{
    -fx-background-color: #ff9c8a;
   
}


.classeBotoesLateral {
	-fx-background-color	: white;
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 120px;
	-fx-pref-height: 30px;

}

/* cor de fundo tab, local do click */
.tab { 
	-fx-background-color	: rgba(255,106,93,1); /* verde claro rgba(255,106,93,0.85);*/ /* azul meio escuro tab lateral rgba(58,86,109,0.95); */
	

}
/* cor ao passar o mouse */
.tab:hover { 
    -fx-background-color	: rgba(255,106,93,1);
   
}
 /* cor ao passar o mouse do texto da tab */
.tab:hover .tab-label{
    -fx-background-color	: rgba(255,106,93,1);
    -fx-text-fill			: #000000;

}
/* cor ao selecionar */
.tab:selected { 
    -fx-background-color	: rgba(255,106,93,1);
 
    
}
 /* cor do texto da tab ao selecionar */
.tab:selected .tab-label {
    -fx-background-color	: rgba(255,106,93,1);
    -fx-text-fill			: #000000;

}

/* para o fundo do tabPane ficar transparent, aparecer somente a tab para escolha */
.tab-pane .tab-header-area .tab-header-background { 
    -fx-background-color	: transparent;
    -fx-effect				: null;
}

/* pane superior */
.classePaneSuperior { 
	-fx-background-color: rgba(255,106,93,0.85);
	
}

/* cor dos  panes dentro das tabs laterais */
.classePanesLaterais { 
	-fx-background-color: rgba(255,156,138,0.85);

	
}

.classeLabel{

     -fx-text-fill	: #000000;
     -fx-text-base-color: #000000;
     -fx-font-weight: bold;
}


.classeMapaEstilo {
	
	-fx-background-color	: white;
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	
}

/*botoes de estilo de mapa e cores */
#btnNight {
	-fx-background-color	:  #263C3F;
}
#btnBlueMap {
	-fx-background-color	:  #30427A;
}
#btnGreenMap {
	-fx-background-color	:  #537C35;
}
#btnRetroMap {
	-fx-background-color	:  #E98D58;
}
.classeIconTab {
	-fx-fill			: white;
	
}



