
/* tamanho da fonte */
.clFonteGeral { /* tamanho da fonte (letra) */
    -fx-font		: 13px "Arial";
	-fx-font-family: "Roboto", "Arial", sans-serif;
}

/* cl classe conversor - parte inferior */
.clPaneConversor { 
	 -fx-background-color: #28353D ;
	 
}

.clBotoesPrincipal{
     -fx-background-color: #1E73BE;
     -fx-text-fill	: #FFFFFF;
     -fx-text-base-color: #FFFFFF;
     -fx-font-weight: bold;
}

.clBotoesPrincipal:pressed:hover { /* ao passar o mouse e clicar */
    -fx-scale-y				: 0.9;
    -fx-scale-x				: 0.9;
    -fx-text-base-color		: #1E73BE;
    
}

.clBotoesPrincipal:hover { /* ao passar o mouse */
    -fx-background-color	: white;
    -fx-text-fill			: #1E73BE;
    -fx-scale-y				: 1.1;
    -fx-text-base-color		: #1E73BE; /* para mudar a cor  do texto no combo box DD DMS UTM */
}


.clStackPaneSuperiorPrincipal { /* cor do pane superior */
	-fx-background-color	: #28353D; /*rgb(72,82,91,0.95);*/
}

.clPanePrincipalLateral {
     -fx-background-color	: transparent;
     -fx-text-fill			: #FFFFFF;
     -fx-font-weight		: bold;
}
.clBotoesLateral {
	-fx-background-color	: white;
	-fx-font-size			: 13px;
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 120px;
	-fx-pref-height: 30px;

}

.tab { /* cor de fundo tab, local do click */
	-fx-background-color	: rgba(58,86,109,0.95); 
	

}
.tab:hover { /* cor ao passar o mouse */
    -fx-background-color	: rgba(58,86,109,0.95);
   
}
.tab:hover .tab-label{ /* cor ao passar o mouse do texto da tab */
    -fx-background-color	: rgba(58,86,109,0.95);
    -fx-text-fill			: #FFFFFF;

}
.tab:selected { /* cor ao selecionar */
    -fx-background-color	: rgba(58,86,109,0.95); 
 
    
}
.tab:selected .tab-label { /* cor do texto da tab ao selecionar */
    -fx-background-color	: rgba(58,86,109,0.95);
    -fx-text-fill			: #FFFFFF;

}

.tab-pane .tab-header-area .tab-header-background { /* para o fundo do tabPane ficar transparent, aparecer somente a tab para escolha */
    -fx-background-color	: transparent;
    -fx-effect				: null;
}

.panesLaterais { /* cor dos  panes dentro das tabs laterais */
	-fx-background-color: rgba(58,86,109,0.9); 
	
}

.clLabelsEstiloTipoMapa{

     -fx-text-fill	: #FFFFFF;
     -fx-text-base-color: #FFFFFF;
     -fx-font-weight: bold;
}

.clBotaoZoom {
	
	-fx-background-color	: white;
	
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 120px;
	-fx-pref-height: 25px;
	
}

.clBotaoMapaEstilo {
	
	-fx-background-color	: white;
	
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	
}

#btnNight {
	-fx-background-color	:  #263C3F;
}
#btnBlueMap {
	-fx-background-color	:  #30427A;
}
#btnGreenMap {
	-fx-background-color	:  #537C35;
}
#btnRetroMap {
	-fx-background-color	:  #E98D58;
}




