
/* tamanho da fonte */
.clFonteGeral { /* tamanho da fonte (letra) */
    -fx-font		: 13px "Arial";
	-fx-font-family: "Roboto", "Arial", sans-serif;
}

/* cl classe conversor - parte inferior */
/* 
.clPaneConversor { 
	 -fx-background-color: #28353D ;
	 
}*/

/* cor background ao chamar o programa */
.classePressedHover{
     -fx-background-color	: #027939; /* verde #027939 */ /*azul escuro #1E73BE */
     -fx-text-fill			: #FFFFFF; 
     -fx-text-base-color	: #FFFFFF;
     -fx-font-weight		: bold;
}

/* ao passar o mouse 
 	muda cor do texto */
 	
.classePressedHover:pressed:hover { 
    -fx-scale-y				: 0.9;
    -fx-scale-x				: 0.9;
    -fx-text-base-color		: #027939; 
    
}

/* ao passar o mouse por cima do combobox ou botao
	muda a cor do background no combo box DD DMS UTM ao passa o mouse*/
.classePressedHover:hover { 
    -fx-background-color	: white;
    -fx-text-fill			: #027939; /*azul escuro = muda cor da letra do botao ao passar mouse */
    -fx-scale-y				: 1.1;
    -fx-text-base-color		: #027939;
    
    
}

/*combobox e cores no popup = ao passar o mouse */
.combo-box-popup .list-cell:filled:hover
{
    -fx-background-color: #45A364;
   
}

/* colocar na  cor certa o selecionado ao abrir o popup */
.combo-box-popup .list-cell:selected 
{
    -fx-background-color: #45A364;
   
}


.classeBotoesLateral {
	-fx-background-color	: white;
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 120px;
	-fx-pref-height: 30px;

}



/* pane superior */
.classePaneSuperior { 
	-fx-background-color: rgba(2,121,57,0.85); /* escuro S */
	
}

/* cor dos  panes dentro das tabs laterais */
.classePanesLaterais { 
	-fx-background-color: rgba(71,169,100,0.75);
	
}

.classeLabel{

     -fx-text-fill	: #FFFFFF;
     -fx-text-base-color: #FFFFFF;
     -fx-font-weight: bold;
}


.classeMapaEstilo {
	
	-fx-background-color	: white;
	-fx-background-radius: 0 0 0 0;
	-fx-pref-width: 25px;
	-fx-pref-height: 25px;
	
}

/*botoes de estilo de mapa e cores */
#btnNight {
	-fx-background-color	:  #263C3F;
}
#btnBlueMap {
	-fx-background-color	:  #30427A;
}
#btnGreenMap {
	-fx-background-color	:  #537C35;
}
#btnRetroMap {
	-fx-background-color	:  #E98D58;
}

/* cor de fundo tab, local do click */
.tab { 
	-fx-background-color	: white; /*rgba(71,169,100,1);*/ /* escuro S */
	
}

/* cor ao passar o mouse */
.tab:hover { 
    -fx-background-color	: rgba(71,169,100,1); /* escuro S Light (meio claro) */

}
/* cor ao selecionar */
.tab:selected { 
	-fx-background-color	: rgba(71,169,100,1);
}

/* para o icon  */
.tab .glyph-icon { 
	-fx-fill				: black; /* icon nas tabs na cor preta */
}

/* cor do icone ao passar o mouse */
.tab:hover .glyph-icon { 
	-fx-fill				: white; /* icon nas tabs ao passar o mouse na cor branca */
}
/* cor do icone ao selecionar */
.tab:selected .glyph-icon { 
	-fx-fill				: white; /* icon nas tabs ao selecionar na cor branca */
}

 /* cor ao passar o mouse do texto da tab */
.tab:hover .tab-label {
    -fx-background-color	: rgba(71,169,100,1);
    -fx-text-fill			: #FFFFFF;
}

 /* cor do texto da tab ao selecionar */
.tab:selected .tab-label  {
    -fx-background-color	: rgba(71,169,100,1);
    -fx-text-fill			: #FFFFFF;
}

/* para o fundo do tabPane ficar transparent, aparecer somente a tab para escolha */
.tab-pane .tab-header-area .tab-header-background { 
    -fx-background-color	: transparent	; /* fundo */
    -fx-border-color		: rgba(71,169,100,1);			/* cor da borda */
  	-fx-border-radius		: 2 2 2 2;					/* arredondamento dos cantos */
  	-fx-border-width		: 0 0 1 0; 						/* somente parte inferior aparecendo da borda */
}



