
.generalClassFont {
	
    -fx-font		: 14px "Arial";
	-fx-font-family: "Roboto", "Arial", sans-serif;
}

.pRetLateral:hover {
	-fx-background-color: red;
}

.pMainFootClass {
	 -fx-background-color: #48525B;
	 
}
.pMainTopClass {
	
}

.btnMainClass {
     -fx-background-color: #0494C8;  /*#3797DD; */
     -fx-text-fill	: #FFFFFF;
     -fx-font-weight: bold;
}

.btnMainClass:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnMainClass:hover {
    -fx-background-color: white;
    -fx-text-fill	: #3797DD;
    -fx-scale-y: 1.1;
}

.btnMainClassTrans {
	
	-fx-background-color: transparent; 
     -fx-text-fill	: #FFFFFF;
     -fx-font-weight: bold;
}

.btnMainClassTrans:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.btnMainClassTrans:hover {
    -fx-background-color: white;
    -fx-text-fill	: #3797DD;
    -fx-scale-y: 1.1;
}

btnMainClassTransRegister {

	-fx-background-color: transparent; 
     -fx-text-fill	: rgb(72,82,91,1);
     -fx-font-weight: bold;
}


.stackPaneClass {
	-fx-background-color: rgba(24, 29, 36, 1); /*rgb(72,82,91,0.95);*/
}
stackPaneClassRegister {
	-fx-background-color: white;
	
}


.leftPaneMainClass {
     -fx-background-color: transparent;
     -fx-text-fill	: #FFFFFF;
     -fx-font-weight: bold;
}

.tab {
	-fx-background-color: white; 

}
.tab:hover {
    -fx-background-color: #3A86C8;
   
}
.tab:hover .tab-label{
    -fx-background-color: #3A86C8;
    -fx-text-fill	: #FFFFFF;

}
.tab:selected {
    -fx-background-color: #3A86C8;
    
}
.tab:selected .tab-label {
    -fx-background-color: #3A86C8;
    -fx-text-fill	: #FFFFFF;

}
.btnClass {
	-fx-text-fill	: #FFFFFF;
	-fx-background-color: rgba(110,195,131,0.90);
}
.btnClass:hover {
	-fx-background-color: rgba(110,195,131,1);
}
.btnClass:pressed {
	-fx-background-color: rgba(98,181,118,1);
	-fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent	;
    fx-border-radius: 100 1 1 1;
}
.anchorClass {
	-fx-border-color: #3A86C8; 
}
