
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 #map  {
   height: 86% 
   
   }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* para exibir mensagem da funcionalidade dos botões */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #373737;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* posição para a esquerda do botão */
    margin-left: -270px;
	top: 20px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-family: Arial, sans-serif;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* até aqui, para exibir mensagem da funcionalidade dos botões */

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.controlsInput{
  margin-top: 2px;
  margin-bottom: 4px;
  border: 5px solid transparent;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 35px;
  outline: none;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
.controlsButtom{
  margin-top: 2px;
  margin-bottom: 2px;
  border: 10px solid transparent;
  border-radius: 2px 2px 2px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 35px;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.controlsLabel{
  margin-top: 2px;
  margin-bottom: 2px;
  border: 5px solid transparent;
  border-radius: 2px 2px 2px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 35px;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.coord {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

//-- busca reversa, coordenada para endere�o --//
#floating-panel {
  position: absolute;
  top: 1px;
  left: 25%;
  
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 10px;
  padding-left: 10px;
}

#latlng {
  width: 300px;
  
}

#coord_panel {
	margin-bottom: 0.4%;
	margin-top: 0.4%;
	margin-left: 0.4%;
	margin-right: 0.4%;
	background-color: #fff;
	border: 1.5px solid #999;
}

.btnSearchCoord span.icon {
	background: url(../images/searchCoord.png) no-repeat;
	float: left;
    float: left;
    width: 24px;
    height: 24px;
}

.btnConverterCoord span.icon {
	background: url(../images/convertIcon.png) no-repeat;
	float: left;
    float: left;
    width: 24px;
    height: 24px;
  
}

#labelLat {
	margin-left: 5px;
	
}

#labelBuscar {
	margin-left: 300px;

}

.InputConvLatLng {
 
 height:18px;
 width:30px;
 
 
}
 
select {
        
        height:22px;
        background:#f4f4f4;
} 
